.section-left {
  height: 100%;
  text-align: center;
  display: block;
  position: fixed;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
#section-left-bg {
  position: absolute;
  margin-left: -20px;
  margin-top: -10px;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-image: url("../img/cover-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}
#section-left-container {
  position: absolute;
  margin-left: -10px;
  margin-top: 0px;
  padding-top: 30px;
  width: 100%;
}
#section-left-container > h3,
h4,
p,
a {
  color: white;
}
.section-right {
  height: 100%;
  margin-left: 30%;
  min-height: 1200px;
}
.img-avatar {
  height: 120px;
  width: 120px;
  padding: 3px;
  border-radius: 60px;
  border-color: white;
  border-width: 2px;
  box-shadow: #000000;
}
.text-avatar {
  margin-top: 30px;
}
.text-signature {
  margin-top: 10px;
}
.profile-edit {
  margin-top: 10px;
}
.text-follower-following {
  margin-top: 14px;
}
.btn {
  background-color: #478cc9;
  border-color: #478cc9;
}
.profile-change-password {
  display: block;
  width: 10em;
  margin: auto;
  margin-top: 10px;
}
