@charset "UTF-8";
/*
  body {
  padding-top: 60px;
  }
  */

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

#submitdialog
{
    position : absolute;
    top : 200px;
    left : 0;
    width : 100%;
    text-align : center;
    font-size : 100px;
    font-weight : bold;
    font-family : Arial;
    z-index : 100000;
}

body {
    background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

.bar {
    height: 18px;
    background: green;
}

