{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container">
    <blockquote>
        <p>Welcome to Object Detectior Building Tool</p>
    </blockquote>
    <br>

    <ul id="list_video">
        {% for video in videos %}
        <li >
            <div class="item_video">
                <h4> Video Name: {{video.name}}</h4>
                <h5> Labels:</h5>
                <ul class="list_labels">
                {% for label in video.labels %}
                    <li >
                        <h5> Name: {{label.name}}</h5>
                        <form action="../label/delete" method="POST">
                            <input hidden name="label_id" value="{{label.id}}">
                            <button type="submit">Delete label</button>
                        </form>

                    </li>
                {% endfor%}
                </ul>
                <form action="../label/add" method="POST">
                    <input hidden name="video_id" value="{{video.id}}">
                    <input type="text" name="label_name">
                    <button type="submit">Add label</button>
                </form>

                <h5> Jobs:</h5>
                <ul class="list_jobs">
                 {% for url_obj in video.job_urls %}
                    <li >
                        <a href="{{url_obj.url}}">Job:{{url_obj.index}}</a>
                    </li>
                {% endfor%}
                </ul>

            </div>
        </li>
        {% endfor%}
    </ul>
    <br>
    <br>
    <br>
    <form id="fileupload" action="upload" method="POST" enctype="multipart/form-data">
        Input the name of your video (optional): <br>
        <input type="text" name="video_name"><br>
        <input type="file" name="file" data-url="upload" multiple>
    </form>

    <div id="upload">
    </div>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
$('#fileupload').fileupload({
    /* ... */
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
});
$(function () {
    $('#fileupload').fileupload({
        add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo($('#upload'))
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('Upload finished.');
            location.reload()
        }
    });
});
</script>
<![endif]-->
{% endblock %}


