{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container" id="video_container">


    <table class="table table_video">
        <thead>
        <tr>
            <th class="table_center">Video Name</th>
            <th class="table_center">Labels</th>
            <th class="table_center">Labeling Jobs</th>
            <th class="table_center">Delete Video</th>
            <th class="table_center">Download Video</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
        <tr>
            <th class="table_center">
                {{video.name}}

            </th>
            <th>
                <form action="../label/add" method="POST" class="form-inline add_label_form">
                    <input hidden name="video_id" value="{{video.id}}">
                    <div class="form-group">
                        <input type="text" name="label_name" class="form-control input-sm input_label_add" pattern="[a-z0-9_]+" title="a-z, 0-9, and underscore only">
                    </div>
                    <button class="btn btn-primary btn-sm label_add" type="submit">Add label</button>
                </form>
                <ul class="list_labels">
                    {% for label in video.labels %}
                    <li class="item_label">
                        <div class="item_label_headline">
                            <p class="item_label_name">{{label.name}}</p>
                            <form class="item_label_form form-inline item_label_form_delete" action="../label/delete"
                                  method="POST">
                                <input hidden name="label_id" value="{{label.id}}">
                                <button class="btn btn-danger btn-xs" type="submit">Delete label</button>
                            </form>
                        </div>

                        <p class="item_label_frame_count"> Labeled Frame Count: {{label.labeled_frame}} (duplicates
                            possible)</p>
                        <form class="item_label_form item_label_form_edit form-inline" action="../label/edit"
                              method="POST">
                            <input hidden name="label_id" value="{{label.id}}">
                            <div class="form-group">
                                <input id="label_name" placeholder="Rename by type in name and 'Enter'" type="text"
                                       name="label_name" class="form-control label_edit"><br>
                            </div>
                            <button class="btn btn-primary label_edit_button" type="submit">Edit label</button>
                        </form>

                    </li>
                    {% endfor%}
                </ul>

            </th>
            <th class="table_center">

                <ul class="list_jobs">
                    {% for url_obj in video.job_urls %}
                    <li>
                        <a target="_blank" href="{{url_obj.url}}">Click to Start Labeling Job {{url_obj.index}}</a>
                    </li>
                    {% endfor%}
                </ul>

            </th>
            <th class="table_center">
                <form class="item_delete_video" action="delete" method="POST">
                    <input hidden name="video_id" value="{{video.id}}">
                    <button class="btn btn-danger" type="submit">Delete Video</button>
                </form>
            </th>
            <th class="table_center table_download">
                Export the Labeled Video
                (this will be in pascal format, you will receive a zip ball containing both images (under JPEGImages folder) and annotations (under Annotations folder))

                <form class="item_export_video" action="export" method="get" target="_blank">
                    <input hidden name="video_id" value="{{video.id}}">
                    <button class="btn" type="submit">Export Video</button>
                </form>

            </th>
        </tr>
        {% endfor%}
        </tbody>
    </table>


    <h4> Upload Video (mp4/avi/m4v) or Zipped Image Sequence (zip):</h4>
    <form id="fileupload_form" action="upload" method="POST" enctype="multipart/form-data" class="form-inline">
        <div class="form-group">
            <label for="video_name">Video Name:</label>
            <input id="video_name" type="text" name="video_name" class="form-control" pattern="[a-zA-Z0-9_]+" title="letters, numbers, and underscore only"><br>
        </div>
        <div class="form-group">
            <label for="fileupload">Choose the file:</label>
            <input id="fileupload" type="file" name="file" data-url="upload" multiple class="form-control">
        </div>
        <div class="checkbox form-group">
            <label><input type="checkbox" name="labeled" class="form-control" value="" id="video_labeled">This is a
                labeled sample</label>
            <p>If true, it should be in pascal label format and organized as a zip ball</p>
        </div>
    </form>

    <div id="upload">
    </div>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="static/css/video_page.css">
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script src="static/js/sol.js"></script>
<script>

    $(".item_delete_video").submit(function (e) {
        e.preventDefault();
        var form = this;
        BootstrapDialog.confirm('Are you sure to delete this video? It will delete all related files, labels for this video', function (result) {
            if (result) {
                form.submit()
            } else {
            }
        });
    });

    $(".item_label_form_delete").submit(function (e) {
        e.preventDefault();
        var form = this;
        BootstrapDialog.confirm('Are you sure to delete this label? It will delete all related files, labels for this label', function (result) {
            if (result) {
                form.submit()
            } else {
            }
        });
    });

    $(function () {
        $('#fileupload').fileupload({
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
            }
        });
    });
    $('#fileupload').fileupload({
        /* ... */
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                    'width',
                    progress + '%'
            );
        }
    });
    $(function () {
        $('#fileupload').fileupload({
            replaceFileInput:false,
            add: function (e, data) {
                $('#upload').empty()
                data.context = $('<button class="btn btn-primary"/>').text('Upload')
                        .appendTo($('#upload'))
                        .click(function () {
                            var permitted = true;

                            // check video name 
                            var video_name = $('#video_name').val()
                            var match = /^[a-zA-Z0-9_]+$/.test(video_name)
                            if (!match){
                                permitted=false;
                                alert('Please Enter a valid video name. Use letters, numbers, and underscore only')
                            }

                            //check file type, only mp4, avi, zip are allowed
                            var uploadFile = data.files[0];
                            if (!(/\.(zip|mp4|avi|m4v)$/i).test(uploadFile.name)) {
                                permitted = false;
                                alert('file type not allowed, you can upload either video(mp4/avi) or zip file')
                            }

                            if (permitted) {
                                data.context = $('<p/>').text('Uploading and Extracting...').replaceAll($(this));
                                data.submit();
                            }
                        });
            },
            done: function (e, data) {
                data.context.text('Upload finished.');
                location.reload()
            }
        });
    });
</script>
<![endif]-->
{% endblock %}


