{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container" id="classifier_container">

    <table class="table table_classifier">
        <thead>
        <tr>
            <th class="table_center">Classifier Overview</th>
            <th class="table_center">Status</th>
            <th class="table_center">Iterative Training</th>
            <th class="table_center">Detection</th>
            <th class="table_center">Evaluation</th>
        </tr>
        </thead>
        <tbody>
        {% for classifier in classifiers %}
        <tr class="tr_classifier" id="{{classifier.id}}">
            <th class="table_center">
                {{classifier.name}}
                <br>
                (id: {{classifier.id}})
                <br>
                {% if classifier.parent_id != none %}
                (Parent classifier: {{classifier.parent_id}})
                {% endif %}

                <br/>
                <h5>Videos</h5>
                <ul class="list_videos">
                    {% for video in classifier.videos %}
                    <li class="item_video">
                        <p class="item_video_name">{{video.name}}</p>
                    </li>
                    {% endfor%}
                </ul>
                <br/>
                <h5>Labels</h5>
                <ul class="list_labels">
                    {% for label in classifier.labels %}
                    <li class="item_label">
                        <p class="item_video_name"> {{label}}</p>
                    </li>
                    {% endfor%}
                </ul>
                <form class="item_push_classifier" action="push" method="POST">
                    <input hidden name="classifier_id" value="{{classifier.id}}">
                    <button class="btn" type="submit">Export Classifier Image</button>
                </form>

                <br/>
                <br/>
                <form class="item_delete_classifier" action="delete" method="POST">
                    <input hidden name="classifier_id" value="{{classifier.id}}">
                    <button class="btn btn-danger" type="submit">Delete Classifier</button>
                </form>

            </th>
            <th class="th-status">
                <input hidden id="finish-{{classifier.id}}" name="finish-{{classifier.id}}" value="">
                <p>Classifier Type:</p>
                <p id="task-type-{{classifier.id}}">{{classifier.task_type}}</p>
                <p id="status-{{classifier.id}}"></p>
                <p id="cpu-{{classifier.id}}"></p>
                <p id="memory-{{classifier.id}}"></p>
                <p id="gpu-{{classifier.id}}"></p>

                <p id="field-1-{{classifier.id}}"></p>
                <p id="field-2-{{classifier.id}}"></p>
                <p id="field-3-{{classifier.id}}"></p>

            </th>

            <th class="table_center th-iterative">
                {% if classifier.task_type == 'train' %}
                <form class="item_iterative_classifier" id="iterative-{{classifier.id}}" action="create_iterative"
                      method="POST">
                    <p>Train an iterative classifier based on this classifier</p>
                    <input hidden name="base_classifier_id" value="{{classifier.id}}">

                    <div class="form-group form-inline">

                        <div class="form-group form-inline">
                            <label for="classifier_name">Name:</label>
                            <input name="classifier_name" class="form-control" value="{{classifier.name}}_iterative">
                        </div>

                        <label for="param_videos">Choose Videos:</label>

                        <select class="iterative_video-select" name="character" multiple="multiple">
                        </select>
                        <input class="iterative_param_videos" type="text" name="video_list" hidden>
                    </div>

                    <div class="form-group form-inline">
                        <label for="epoch">Epoch:</label>
                        <input type="number" name="epoch" class="form-control"
                               value="100"><br>
                    </div>

                    <button class="btn" type="submit">Begin Training</button>
                </form>
                {% endif %}
            </th>

            <th class="table_center th-detection">
                {% if classifier.task_type == 'train' %}
                <form class="item_test_classifier_long" action="create_test" method="POST">
                    <p>Launch long-running classifier (after launching, you can call the HTTP request on the port
                        displayed)</p>
                    <input hidden name="base_classifier_id" value="{{classifier.id}}">
                    <input hidden name="long_running" value="true">
                    <div class="form-group form-inline">
                        <label for="epoch">Time remains:</label>
                        <input id="time_remains" type="number" name="time_remains" class="form-control time_remains"
                               value="100"><br>
                    </div>
                    <button class="btn" type="submit">Launch Classifier</button>
                </form>

                <form class="item_test_classifier_short" action="create_test" method="POST"
                      enctype="multipart/form-data">
                    <p>Test the classifier (detect the image and display the result online)</p>
                    <input hidden name="base_classifier_id" value="{{classifier.id}}">
                    <input hidden name="long_running" value="false">
                    <input hidden name="format" value="img">
                    <div class="form-group form-inline">
                        <label for="epoch">Set the confidence</label>
                        <input id="confidence" type="number" name="confidence" step="0.01"
                               class="form-control time_remains"
                               value="0.5"><br>
                    </div>
                    <div class="form-group">
                        <label for="image_upload">Choose the image:</label>
                        <input id="image_upload" type="file" name="detect_file" multiple class="form-control">
                    </div>
                    <button class="btn" type="submit">Test the image</button>
                </form>

                {% endif %}
            </th>
            <th>
                {% if classifier.task_type == 'train' %}
                <h5>Evaluation Set</h5>
                <ul class="list_evaluation">
                    {% for evaluation in classifier.evaluation_sets %}
                    <li class="item_evaluation">
                        <p class="item_evaluation_name">Name: {{evaluation.name}}</p>

                        <p>Videos</p>
                        {% for video in evaluation.videos %}
                        <p class="item_evaluation_video">{{video}}</p>
                        {% endfor%}
                        <p>Graph</p>
                        <ul class="list_evaluation_img">
                            {% for img in evaluation.images %}
                            <li class="item_evaluation_img">
                                <p>{{img.name}}</p>
                                <img class="img_evaluation" src="evaluation_img?path={{img.path}}"/>
                            </li>
                            {% endfor%}
                        </ul>
                        <form class="item_delete_evaluation" action="delete_evaluation" method="POST">
                            <input hidden name="evaluation_id" value="{{evaluation.id}}">
                            <button class="btn btn-danger" type="submit">Delete Evaluation</button>
                        </form>

                    </li>
                    {% endfor%}
                </ul>
                <br/>

                <form class="item_evaluate_classifier" id="evaluation-{{classifier.id}}" action="create_evaluation"
                      method="POST">
                    <p>Evaluate the classifier against some datasets, now support ROC curve</p>
                    <input hidden name="classifier_id" value="{{classifier.id}}">
                    <div class="form-group form-inline">
                        <label>Name:</label>
                        <input name="name" class="form-control" value="">
                    </div>

                    <div class="form-group form-inline">

                        <label for="param_videos">Choose Labeled Videos:</label>

                        <select class="evaluation_video-select" name="character" multiple="multiple">
                        </select>
                        <input class="evaluation_param_videos" type="text" name="video_list" hidden>
                    </div>
                    <button class="btn" type="submit">Begin Evaluation</button>
                </form>

                {% endif %}
            </th>
        </tr>
        </tbody>
        {% endfor%}
    </table>


    <div id="holder_create_classifier">

        <h4> Create Classifier:</h4>
        <form id="form_create_classifier" method="POST" action="create_train">
            <div class="form-group">
                <label for="classifier_name">Classifier Name:</label>
                <input id="classifier_name" type="text" name="classifier_name" class="form-control"><br>
            </div>
            <div class="form-group form-inline">
                <label for="param_network_type">Choose the Network Type:</label>
                <select id="classifier-type-select" name="character">
                </select>
                <input id="param_network_type" type="text" name="network_type" hidden>
            </div>

            <div class="form-group form-inline">
                <label for="param_videos">Choose Videos:</label>

                <select id="video-select" name="character" multiple="multiple">
                </select>
                <input id="param_videos" type="text" name="video_list" hidden>
            </div>

            <div class="form-group form-inline">
                <label for="param_labels">Choose Labels:</label>

                <select id="label-select" name="character" multiple="multiple">
                </select>
                <input id="param_labels" type="text" name="label_list" hidden>
            </div>

            <div class="form-group form-inline">
                <label for="epoch">Epoch:</label>
                <input id="epoch" type="number" name="epoch" class="form-control" value="100"><br>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="static/css/classifier_page.css">
<link rel="stylesheet" href="static/css/sol.css">
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script src="static/js/sol.js"></script>
<script>
    $(function () {
        $('#video-select').searchableOptionList({
            data: 'available_videos',
            texts: {
                searchplaceholder: 'Choose videos for the classifier'
            }
        });
        $('.iterative_video-select').searchableOptionList({
            data: 'available_videos',
            texts: {
                searchplaceholder: 'Choose videos for the classifier'
            }
        });

        $('.evaluation_video-select').searchableOptionList({
            data: 'available_evaluation_videos',
            texts: {
                searchplaceholder: 'Choose videos for the classifier'
            }
        });

        $('#label-select').searchableOptionList({
            data: 'available_labels',
            texts: {
                searchplaceholder: 'Choose labels for the classifier'
            }
        });

        $('#classifier-type-select').searchableOptionList({
            data: 'available_classifier_types',
            texts: {
                searchplaceholder: 'choose the type of the classfier'
            }
        });
    });

    $("#form_create_classifier").submit(function (e) {
        var selected_videos = $('#video-select').searchableOptionList().getSelection();
        var selected_labels = $('#label-select').searchableOptionList().getSelection();
        var selected_network = $('#classifier-type-select').searchableOptionList().getSelection();

        var videos = "";
        for (var i = 0; i < selected_videos.length; i++) {
            if (i == selected_videos.length - 1) {
                videos += (selected_videos[i].value);
            } else {
                videos += (selected_videos[i].value + ",");
            }
        }

        var labels = "";
        for (var i = 0; i < selected_labels.length; i++) {
            if (i == selected_labels.length - 1) {
                labels += (selected_labels[i].value);
            } else {
                labels += (selected_labels[i].value + ",");
            }
        }

        var network_type;
        for (var i = 0; i < selected_network.length; i++) {
            network_type = selected_network[i].value;
        }
        $('#param_videos').val(videos);
        $('#param_network_type').val(network_type);
        $('#param_labels').val(labels);

        console.log(videos);
        console.log(network_type);
    });

    $(".item_iterative_classifier").submit(function (e) {

        var video_select = $($(this).find('.iterative_video-select')[0]);
        var selected_videos = video_select.searchableOptionList().getSelection();

        var videos = "";
        for (var i = 0; i < selected_videos.length; i++) {
            if (i == selected_videos.length - 1) {
                videos += (selected_videos[i].value);
            } else {
                videos += (selected_videos[i].value + ",");
            }
        }

        $($(this).find('.iterative_param_videos')[0]).val(videos);

        console.log(videos);
    });

    $(".item_evaluate_classifier").submit(function (e) {

        var video_select = $($(this).find('.evaluation_video-select')[0]);
        var selected_videos = video_select.searchableOptionList().getSelection();

        var videos = "";
        for (var i = 0; i < selected_videos.length; i++) {
            if (i == selected_videos.length - 1) {
                videos += (selected_videos[i].value);
            } else {
                videos += (selected_videos[i].value + ",");
            }
        }

        $($(this).find('.evaluation_param_videos')[0]).val(videos);

        console.log(videos);
    });

    $(".item_delete_classifier").submit(function (e) {
        e.preventDefault();
        var form = this;
        BootstrapDialog.confirm('Are you sure to delete this classifier? It will delete all related models, docker files', function (result) {
            if (result) {
                form.submit()
            } else {
            }
        });
    });

    $(".img_evaluation").click(function (e) {
        var $textAndPic = $('<div></div>');
        var src = $(this).attr('src');
        $textAndPic.append("<img style='max-width: 100%;' src=" + src + " />");

        BootstrapDialog.show({
            title: 'The ROC Curve',
            message: $textAndPic,
            buttons: [{
                label: 'Dismiss',
                action: function (dialogRef) {
                    dialogRef.close();
                }
            }]
        });
    })

    var trim = function (input, length) {
        if (input.length > length) {
            return input.substring(0, length)
        }
        return input;
    }
    setInterval(function () {
        var classifiers = $(".tr_classifier");
        var ids = [];
        for (var i = 0; i < classifiers.length; i++) {
            var classifier = classifiers[i];
            var id = classifier.id
            // avoid querying finished jobs
            if ($("#finish-" + id).val().length == 0) {
                ids.push(id);
            } else {
                $("#cpu-" + id).text("")
                $("#memory-" + id).text("");
                $("#gpu-" + id).text("")
            }
        }
        if (ids.length > 0) {
            // refresh the status
            $.ajax({
                type: "POST",
                url: "get_classifier_status",
                data: {
                    'classifier_ids': ids.join(","),
                },
                success: function (data) {
                    // after getting the result, bind it to the status
                    for (var i = 0; i < ids.length; i++) {
                        var id = ids[i];
                        var status_obj = JSON.parse(data[id]);
                        $("#status-" + id).text("Status: " + status_obj.status)
                        // status these are common for all classifiers
                        var resource_obj = status_obj.resource_utility;

                        var total_memory_mb = parseInt(parseInt(resource_obj.total_memory) / 1000000);
                        $("#cpu-" + id).text("CPU: " + trim(resource_obj.process_cpu_percentage, 5) + "%")
                        $("#memory-" + id).text("Memory: " + trim(String(resource_obj.process_memory_percentage), 5) + "%; Total: "
                                + total_memory_mb + "MB");
                        $("#gpu-" + id).text("GPU: " + resource_obj.process_gpu_memory_used + "MB; Total: "
                                + resource_obj.total_gpu_memory_used + "/" + resource_obj.total_gpu_memory + "MB;")

                        var task_type = $("#task-type-" + id).text()
                        console.log("task type " + task_type);
                        if (task_type == 'train') {
                            $("#field-1-" + id).text("Iteration: " + status_obj.iteration)
                            $("#field-2-" + id).text("Loss: " + status_obj.loss)
                        } else if (task_type == 'test') {
                            $("#field-1-" + id).text("Time Remains: " + status_obj.time_remains)
                            $("#field-2-" + id).text("Request Number: " + status_obj.request_number)
                            var url = "http://" + window.location.host.split(":")[0] + ":" + status_obj.host_port;
                            $("#field-3-" + id).html("Host Port: <a target='_blank' href=" + url + ">" + status_obj.host_port + " (Click to test real-time detection) </a>")
                        }

                        if (status_obj.status == "FINISH") {
                            $("#finish-" + id).val("done");
                        }
                    }
                }
            })

        }
    }, 1000)


</script>
<![endif]-->
{% endblock %}



